input[type=text], 
input[type=email],
textarea, 
select {
	box-sizing: border-box;
  font-family: 'varela_roundregular';
  border-radius: 5px;
	border: 1px solid #ccc;
	padding: 9px;
  
  &.full-width {
  	width: 100%;
  }
}